*, ::after, ::before {
    box-sizing: border-box;
}
nav {
    height: 4em;
}

.brand {
    height: 60px;
    width: 100px;
}
html {
    scroll-behavior: smooth;
}
.display-3 {
    font-weight: 400 !important;
    line-height: 1.2;
    font-size: 4.5rem;
}
.text-left {
    align-items: center;
}
.navbar-nav {
    width: 100%;
    justify-content: space-evenly;
}
.myPic {
    width: 300px;
    height: 300px;
    border: 0px;
    border-radius: 150px;
}
nav a {
    text-decoration: none;
    color: grey;
    font-weight: 600;
    font-size: 1.5em;
}
h1 {
    padding-top: 5rem;
}
.container {
    margin-top: 5rem;
}
.landing {
    margin-bottom: 5rem;
}
.wrap .about-desc .bold-text {
    position: absolute;
    top: -50%;
    font-size: 1em;
    left: 10px;
    right: 0;
    bottom: 0;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
}
@media (max-width: 992px){
    .wrap .about-desc .bold-text {
        font-size: 0em;
    } 
}
#aboutme {
    font-size: 8em;
}
.social-links li a {
    font-size: 30px;
    top: 0;
    left: 0;
    height: 1em !important;
    color: purple;
}
.social-links {
    display: flex;
    padding-top: 0;
}
.social-links li {
    height: fit-content;
}
ion-icon:hover {
    color: black;
    transition-delay: 0.3s;
    transition-duration: 0.6s;
}
.social-links li {
    padding: 0px 25px 0px 0px;
}
.icon-box {
    height: 5em;
    width: 5em;
    padding: 2em;
}
.skills .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.08);
    transition: ease-in-out 0.3s;
}

@media (min-width: 992px){
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.tech-icon {
    padding: 10px !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.last{
    font-style: italic;
    height: 7em;
    left: 0;
    bottom: 0;
    padding: 90px 0px 0px 0px;
}
.blink a:hover {
 transition: all ease 0.5s 0.5s;
 color: purple;
 text-decoration: none;
}
.devPic:hover {
    width: 210px;
    height: 210px;
    transition: all ease 0.2s 0.2s;
}
.navbar {
    z-index: 2;
}
#navbarSupportedContent {
    border: 3px;
    border-radius: 10px;
    opacity: 1;
    transition: all ease-in 0.2s 0.2s; 
}
.nav-item {
    opacity: 1;
}
.nav-links {
    color: black;
    padding-right: 2em;
}
@media (max-width: 1000px) {
    #navbarSupportedContent {
        text-align: center;
        transition: all ease-in 0.2s 0.2s; 
        background: silver;
        opacity: 0.92;
    }
}